<%- include("partials/header") %>

<main class="pa6 black-80">
  <form class="measure center" action="/blog/<%= blog._id %>?_method=PUT" method="POST">
    <fieldset id="new-blog" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Edit Blog</legend>
      <div class="mt3">
        <label class="db fw6 lh-copy f6">Title</label>
        <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="blog[title]" placeholder="Title of the Blog">
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6">Image</label>
        <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="blog[image]" placeholder="URL of your image">
      </div>
      <div class="mv3">
        <label class="db fw6 lh-copy f6">Text</label>
        <textarea class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" name="blog[body]"></textarea>
      </div>
    </fieldset>
    <div class="tc pb4">
    	<input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Update Post">
    </div>
  </form>
  <div class="tc">
  	<form id="delete" action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
    	<button class="b ph3 pv2 input-reset ba b--dark-red bg-transparent grow pointer f6 dib dark-red">Delete Post</button>
  	</form>
  	<div class="lh-copy mt3">
    	<a href="/blog/<%= blog._id %>" class="f6 link dim black db">Cancel</a>
  	</div>
  </div>
</main>

<%- include("partials/footer") %>